@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

html, body {
	padding: 0px;
	margin: 0px;
}

.section {
	height: 100%;	
	text-align: center;
}


#section1 {
	background: #1e90ff;
	padding-top: 20%;
}

#section1 h1 {
	margin: auto;
	font-size: 64px;
	margin-top: 0px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

#section2 {
	background: #696969;
}

#section3 {
	background: #ff7f50;
}

#section4 {
	background: #ff6347;
}