nav {
  margin: auto;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

nav .menu {
  font-weight: bold;
  font-size: 18px;
  background: #33363B;
  padding: 10px;
  color: white;
  display: none;
}

nav .menu:hover {
  cursor: pointer;
}

nav ul{
  list-style-type: none;
  padding-left: 0;
}

nav li {
  display: inline;
}

nav li a {
  border: 1px solid #eee;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: background 0.5s ease;
}

nav li a:focus {
  text-decoration: none;
}

nav li a:hover {
  text-decoration: none;
  background: #ddd;
}

@media (max-width: 620px) {
  nav .menu {
    display: block;
  }
  nav ul {
    display: none;
  }
  
  nav li {
    display: block;
    padding: inherit;
  }
  nav li a {
    display: block;
    margin: 5px;
  }
}
